<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

        <logger name="org.hibernate" additivity="false"/>
        <Logger name="org.hibernate.SQL" additivity="false"/>
        <Logger name="org.hibernate.type.descriptor.sql" additivity="false"/>
        <Logger name="spring.jpa.show-sql" additivity="false"/>

        <!-- LOG "com.crm.app*" at TRACE level -->
        <Logger name="com.crm.app" level="trace" additivity="true">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="org.springframework.security" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>

</Configuration>